<div class="container">
    <div class="row mx-auto mt-4">
        <div class="col">
            <div class="card-columns">
                <div *ngFor="let product of item" class="card bg-warning">
                    
                    <div class="card-header">
                        <h5>{{product.name}}</h5>
                    </div>
                    <div class="card-body" >
                        <p class="card-text"><b>Quantity: </b>{{product.quantity}}</p>
                        <p class="card-text"><b>Price:</b><span> R </span> {{product.price}}</p>
                        <p class="card-text"><b>Ingeredient: </b>{{product.ingredient}}</p>
                        <p class="card-text"><b>Manufacturer: </b>{{product.brand}}</p>
                        <p class="card-text"><b>Country of origin: </b>{{product.origin}}</p>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary btn-block" (click)="selectItem(product.name)"><b>Buy
                                Now</b></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>